@model CultureWeb.Models.Blog
@{
    ViewData["Title"] = "Blog Details";

}
@using CultureWeb.Models;
@using CultureWeb.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Blog> blogs = HttpContextAccessor.HttpContext.Session.Get<List<Blog>>("blogs");
    Blog blog = null;
    if (blogs != null)
    {
        blog = blogs.FirstOrDefault(c => c.Id == Model.Id);
    }
}
@{
    //var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();

}

@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User) as ApplicationUser;
}

@section Style {
    <style>
        .disabled {
            opacity: 0.2;
            pointer-events: none;
        }

        .cha-20 {
            overflow: hidden;
            max-width: 20ch;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .cha-300 {
            overflow: hidden;
            max-width: 300ch;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}

<!-- product-detail content -->
<div class="bg-main bg-light">
    <div class="">
        <div class="box p-5 d-flex justify-content-between">
            <div class="breadcumb nav-link">
                <a asp-action="Index" class="text-decoration-none text-dark mx-3">@localizer["Home"]</a>
                <span><i class="fa-solid fa-chevron-right"></i></span>
                <a asp-area="Customer" asp-controller="Home" asp-action="Blog-Category" class="text-decoration-none text-dark mx-3">@localizer["Blog"]</a>
                <span><i class="fa-solid fa-chevron-right"></i></span>
                <a href="#" class="text-decoration-none text-dark mx-3">
                   
                    @if (CultureInfo.CurrentUICulture.Name == "en")
                    {
                        @Html.DisplayFor(model => model.Title)
                    }
                    else if (CultureInfo.CurrentUICulture.Name == "km")
                    {
                         @Html.DisplayFor(model => model.Title_kh)
                    }
                </a>
            </div>
            <div class="breadcumb nav-link d-flex">
                <a class="nav-link mt-2" asp-area="Customer" asp-controller="Home" asp-action="Cart" title="@localizer["Cart"]">
                    <i class="fa-solid fa-bag-shopping"></i>
                    (@count)
                </a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="nav-link mt-2 mx-3"><i class="fa fa-heart"></i></a>
                }
                else
                {

                    <a asp-area="Customer" asp-controller="Home" asp-action="FavoriteProduct" class="nav-link mt-2 mx-3" title="@localizer["Favorite"]"><i class="fa fa-heart"></i> (@ViewBag.FavoriteProductCount)</a>

                }

                <a href="#" class="text-decoration-none text-dark mx-3 nav-link">
                    @{
                        var culture = Context.Features.Get<IRequestCultureFeature>();
                        var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
                        var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
                    }

                    <form method="post" asp-area="Customer" asp-action="ChangeLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl">
                        <select class="form-select bg-light border-none " name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit();">
                        </select>
                    </form>
                </a>
                <div class="dropdown no-arrow">
                    <a class="nav-link " href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @*   <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.UserName</span> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (user.Image != null)
                            {
                                <img src="@($"~/Images/User/{user.Image}")" asp-append-version="true" class="img-profile rounded-circle objit-cover" width="40px" height="40px" style="object-fit:cover;" />
                            }
                            else
                            {
                                <img src="~/Images/user.jpg" class="img-profile rounded-circle" width="40px" height="40px" />
                            }

                        }
                        else
                        {

                            <img src="~/Images/user.jpg" class="img-profile rounded-circle" width="40px" height="40px" />

                        }

                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="Customer" asp-controller="Profiles" asp-action="Profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Profile"]
                            </a>                          

                            <div class="dropdown-divider"></div>

                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @localizer["Logout"]
                                </button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
                                <i class="fa-solid fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Register"]
                            </a>
                            @*  <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        @localizer["Settings"]
                        </a> *@

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Login"]
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
      <div class="">
            <div class="col-12 p-5 bg-white">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                        <div class="row">
                            <div class="mt-1">
                                <h4 class="fw-bolder my-2">
                                    @if (CultureInfo.CurrentUICulture.Name == "en")
                                    {
                                        @Html.DisplayFor(model => model.Title)
                                    }
                                    else if (CultureInfo.CurrentUICulture.Name == "km")
                                    {
                                         @Html.DisplayFor(model => model.Title_kh)
                                    }
                                </h4>
                                <p>
                                   
                                    @if (CultureInfo.CurrentUICulture.Name == "en")
                                    {
                                         @Html.DisplayFor(model => model.Description)
                                    }
                                    else if (CultureInfo.CurrentUICulture.Name == "km")
                                    {
                                        @Html.DisplayFor(model => model.Description_kh)
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div>                               
                                <p>
                                    <div class="float-end d-flex flex-column">
                                        <img src="~/@Model.Image" alt="" width="250" class="col-xs-12 rounded-2">
                                        <span class="fw-bolder text-secondary my-1">
                                            @if (CultureInfo.CurrentUICulture.Name == "en")
                                            {
                                                @Html.DisplayFor(model => model.Title)
                                            }
                                            else if (CultureInfo.CurrentUICulture.Name == "km")
                                            {
                                                @Html.DisplayFor(model => model.Title_kh)
                                            }
                                        </span>
                                    </div>
                                    <h6 class="fw-bolder">
                                        @if (CultureInfo.CurrentUICulture.Name == "en")
                                        {
                                             @Html.DisplayFor(model => model.BlogTitle) 
                                        }
                                        else if (CultureInfo.CurrentUICulture.Name == "km")
                                        {
                                             @Html.DisplayFor(model => model.BlogTitle_kh) 
                                        }
                                    </h6>
                                   
                                    @if (CultureInfo.CurrentUICulture.Name == "en")
                                    {
                                        @Html.DisplayFor(model => model.BlogDesc)
                                    }
                                    else if (CultureInfo.CurrentUICulture.Name == "km")
                                    {
                                         @Html.DisplayFor(model => model.BlogDesc_kh)
                                    }
                                </p>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 px-4">                  
                                               
                        <div>
                            <h4 class="fw-bolder my-4">@localizer["Cambodia's"]</h4>
                           <div>
                                <a asp-action="Blog-Category" asp-controller="Home" asp-area="Customer" class="btn btn-outline-danger m-1">@localizer["Latest Blog"]</a>
                               @foreach (var subblogs in ViewBag.SubBlogs)
                                {
                                    <a asp-action="Blog" asp-controller="Home" asp-area="Customer" class="btn btn-outline-danger m-1" asp-route-id="@subblogs.Name">
                                        @switch (CultureInfo.CurrentUICulture.Name)
                                        {
                                            case "en":
                                                @($"{subblogs.Name}")
                                                break;
                                            case "km":
                                                @($"{subblogs.Name_kh}")
                                                break;
                                            default:
                                                @($"{subblogs.Name}")
                                                break;
                                        }
                                    </a>
                                }
                           </div>                           
                        </div>
                        <div class="sponsor"></div>                                          
                    </div> 
                </div>
            </div>                 
        </div>
      
        <div class="">
            <div class="col-12 px-5 border-top pt-2">
                <h4 class="fw-bolder ">@localizer["Gallery"]</h4>
            </div>
            <div class="col-12 px-5 pb-5">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mt-3"><img src="~/@Model.Image" alt="" width="100%"></div>
                    
                    
                </div>
            </div>
        </div>     
        <div class=" ">
            <div class="col-12 px-5 border-top pt-2">
                <h4 class="fw-bolder">@localizer["More"]</h4>
            </div>
            <div class="col-12 px-5 pb-5">
                <div class="row">
                    @foreach (var relateBlog in ViewBag.RelateBlogs)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 product">                           
                            <div class="card  rounded-3 my-3">
                                    <img src="~/@relateBlog.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                        <h5 class="card-title text-brown">
                                            @switch (CultureInfo.CurrentUICulture.Name)
                                            {
                                                case "en":
                                                @($"{relateBlog.Title}")
                                                    break;
                                                case "km":
                                                @($"{relateBlog.Title_kh}")
                                                    break;
                                                default:
                                                @($"{relateBlog.Title}")
                                                    break;
                                            }
                                         </h5>
                                    <p class="card-text text-dark fs-7 cha-300">
                                        @switch (CultureInfo.CurrentUICulture.Name)
                                        {
                                            case "en":
                                                @($"{relateBlog.Description}")
                                                break;
                                            case "km":
                                                @($"{relateBlog.Description_kh}")
                                                break;
                                            default:
                                                @($"{relateBlog.Description}")
                                                break;
                                        }
                                    
                                    </p>
                                <div class="text-end">
                                        <a asp-action="Blog-Details" asp-controller="Home" asp-route-id="@relateBlog.Id" class="btn btn-outline-danger fs-7">@localizer["Read more"]</a>
                                </div>
                            </div>
                            </div>                            
                        </div>
                    }                                       
                </div>
            </div>
        </div>

        
    </div>
</div>


<!-- end product-detail content -->
<!-- end product-detail content -->
<script>
    function showAlert() {
        //var statusMessage = "Product added to cart successfully!";
        //document.getElementById('statusMessage').innerText = statusMessage;
        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
        successModal.show();
       
    }
</script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

