@using CultureWeb.Models
@model List<Products>
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User) as ApplicationUser;
}
@{
    ViewData["Title"] = "Cart";
}

<!-- product-detail content -->
<div class="bg-main bg-light ">
    <div class="container">
        <div class="box py-5 d-flex justify-content-between">
            <div class="breadcumb nav-link mt-2">
                <a asp-action="Index" class="text-decoration-none text-dark mx-3">@localizer["Home"]</a>
                <span><i class='fa-solid fa-chevron-right text-dark'></i></span>
                <a asp-area="Customer" asp-controller="Home" asp-action="AllProduct" class="text-decoration-none text-dark mx-3">@localizer["All Products"]</a>
                <span><i class='fa-solid fa-chevron-right text-dark'></i></span>
                <a class="text-decoration-none text-dark mx-3">@localizer["Cart"]</a>

            </div>
            <div class="breadcumb nav-link d-flex">
               
                @if (!User.Identity.IsAuthenticated)
                {
                    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="nav-link mt-2 mx-3"><i class="fa fa-heart"></i> (0)</a>
                }
                else
                {

                    <a asp-area="Customer" asp-controller="Home" asp-action="FavoriteProduct" class="nav-link mt-2 mx-3" title="@localizer["Favorite"]"><i class="fa fa-heart"></i> (@ViewBag.FavoriteProductCount)</a>

                }

                <a href="#" class="text-decoration-none text-dark mx-3 nav-link">
                    @{
                        var culture = Context.Features.Get<IRequestCultureFeature>();
                        var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
                        var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
                    }

                    <form method="post" asp-area="Customer" asp-action="ChangeLanguage" asp-controller="Home" asp-route-returnUrl="@returnUrl">
                        <select class="form-select bg-light border-none " name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit();">
                        </select>
                    </form>
                </a>
                <div class="dropdown no-arrow">
                    <a class="nav-link " href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @*   <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.UserName</span> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (user.Image != null)
                            {
                                <img src="@($"~/Images/User/{user.Image}")" asp-append-version="true" class="img-profile rounded-circle objit-cover" width="40px" height="40px" style="object-fit:cover;" />
                            }
                            else
                            {
                                <img src="~/Images/user.jpg" class="img-profile rounded-circle" width="40px" height="40px" />
                            }

                        }
                        else
                        {

                            <img src="~/Images/user.jpg" class="img-profile rounded-circle" width="40px" height="40px" />

                        }

                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="Customer" asp-controller="Profiles" asp-action="Profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Profile"]
                            </a>                         

                            <div class="dropdown-divider"></div>

                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @localizer["Logout"]
                                </button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
                                <i class="fa-solid fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Register"]
                            </a>
                            @*  <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        @localizer["Settings"]
                        </a> *@

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Login"]
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (Model.Count > 0)
        {
            <div class="col-12 text-center my-5">
                <h2>@localizer["Cart List"] <i class="fa-solid fa-cart-shopping"></i></h2>
            </div>
               
                   
            <div class="row mt-5">
            <div class="col-12 px-4">
                <table class="table table-responsive-sm">
                    <thead class="bg-gray">
                        <tr>
                            <th>@localizer["Product"]</th>
                            <th>@localizer["Price"]</th>
                            <th>@localizer["Quantity"]</th>
                            <th>@localizer["SubTotal"]</th>
                            <th></th>
                        </tr>
                    </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                
                                <tr class="align-middle">
                                    <td>
                                        <span>
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                <img src="~/@item.Image" alt="" style="width: 75px; height: 75px" class="rounded-3 object-fit" />
                                            </a>
                                        </span>
                                        <span class="text-black fs-6 fw-bolder mx-3">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="text-black fs-6 fw-bolder mx-3">
                                                @switch (CultureInfo.CurrentUICulture.Name)
                                                {
                                                    case "en":
                                                        @item.Name
                                                        break;
                                                    case "km":
                                                        @item.Name_kh
                                                        break;
                                                    default:
                                                        @item.Name
                                                        break;
                                                }
                                                </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <i class="fa-solid fa-dollar-sign"></i>@item.Price
                                        </span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <form asp-action="RemoveQtyCart" method="post" enctype="multipart/form-data" class="d-flex">
                                                <input type="hidden" name="removeQuantity" value="@item.Qty" data-product-id="@item.Id" />
                                                @if (item.Qty == 1)
                                                {
                                                    <button type="button" class="btn btn-link px-2 text-dark increase-quantity" asp-action="RemoveQtyCart" asp-route-id="@item.Id" disabled="disabled">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-link px-2 text-dark increase-quantity" asp-action="RemoveQtyCart" asp-route-id="@item.Id" >
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                }
                                            </form>
                                            <input min="1" name="currentQuantity" value="@item.Qty" type="text"
                                           class="form-control text-center border-none quantity focus-none" style="width: 60px;"
                                           data-product-id="@item.Id" disabled="disabled" readonly="readonly" />
                                          
                                            <form asp-action="AddQtyCart" method="post" enctype="multipart/form-data" class="d-flex">
                                                <input type="hidden" name="addQuantity" value="@item.Qty" data-product-id="@item.Id" />
                                                
                                                     <button type="submit" class="btn btn-link px-2 text-dark increase-quantity" asp-action="AddQtyCart" asp-route-id="@item.Id" >
                                                        <i class="fas fa-plus"></i>
                                                    </button>                                              
                                               
                                            </form>
                                        </div>

                                           
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <i class="fa-solid fa-dollar-sign"></i>@(item.Price * item.Qty) 
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <form asp-action="RemoveAll" method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="productId" value="@item.Id" />
                                                <button type="submit" class="btn-close close" asp-action="RemoveAll" asp-route-id="@item.Id" title="@localizer["Remove All from Cart"]"></button>
                                            </form>
                                        </span>
                                    </td>
                                </tr>
                               
                            }                         
                        </tbody>

                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
                   
              
            <div class="row">         
                <div class="col-12 col-md-12 pt-3 d-flex justify-content-center pb-5">
                    <div class="product-info-price">
                        <h3 class="text-danger">@localizer["Total Amount"] : $@Model.Sum(c => c.Price * c.Qty) </h3>
                    </div>
                    <div class="product-info">
                        <div class="product-info-detail mx-2">
                                <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-success">@localizer["Checkout"]</a>
                        </div>
                    </div>
                </div>
            </div>

        } else
        {
            <div class="row">
                <div class="col-12 pb-5" style="display: flex; justify-content: center; align-items: center">
                    <img src="https://cdn.dribbble.com/users/1121009/screenshots/11030107/media/25be2b86a12dbfd8da02db4cfcbfe50a.jpg?compress=1&resize=1000x750" width="500px" />
                </div>
            </div>
        }
    </div>

</div>
<!-- end product-detail content -->
    <!-- alert -->
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="status modal-content ">
                <div class="modal-body d-flex pt-4 align-middle">
                    <div class="mx-2 align-middle">
                        <i class="fas fa-check-circle fs-3 p-3 bg-success rounded-circle text-white"></i>
                    </div>
                    <div class="px-4 align-middle text-success">
                        <span class="fw-bold">@localizer["Success"]!</span>
                        <p class="fs-6">@((TempData["StatusMessage"]?.ToString() != null) ? localizer[TempData["StatusMessage"].ToString()] : "")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["StatusMessage"] != null)
    {
        <script>
            $(document).ready(function () {
                $('#statusModal').modal('show');
                setTimeout(function () {
                    $('#statusModal').modal('hide');
                }, 3000); // Change the value to the desired number of milliseconds (e.g., 3000 for 3 seconds)
            });
        </script>
    }
